
@media only screen and (min-width:992px){
    .heading{
    display :flex;
    justify-content: center;
    background-color: lightblue;
    font-size: 15px;
    margin-bottom: 30px;
}

.bca{
    background-color: lightcyan;
    font-size: 16px;
    width:400px;
}

.bba{
    background-color: lightpink;
    font-size: 16px;
    width:400px;
}

.bhm{
    background-color: lightgreen;
    font-size: 16px;
    width:400px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
}
.faculty-heading{
    display: flex;
    justify-content: center;
}


}