

.bca{
    background-color: lightcyan;
}

.bba{
    background-color: lightpink;
}

.bhm{
    background-color: lightgreen;
}

.heading{
    
    background-color: lightblue;
    font-size: 15px;
    margin-bottom: 30px;
    padding: 10px;
}
