@media only screen and (min-width:768px){

    .heading{
        display :flex;
        justify-content: center;
        background-color: lightblue;
        font-size: 40px;
        margin-bottom: 50px;
    }


    .bca{
        background-color: lightcyan;
        width:600px;
        font-size: 25px;
    }
    
    .bba{
        background-color: lightpink;
        width:600px;
        font-size: 25px;
    }
    
    .bhm{
        background-color: lightgreen;
        width:600px;
        font-size: 25px;
    }

    
   
    .faculty-heading{
        display: flex;
        justify-content: center;
    }

}